@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --white: #FFFFFF;
  --gray: rgba(255, 255, 255, 0.70);
  --black: #00040F;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--gray);
  font-size: 18px;
  line-height: 170%;
  background: var(--black);
}
h1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.72px;
  color: var(--white);
}
h2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}
h3 {
  font-size: 40px;
  font-size: normal;
  font-weight: 600;
  line-height: 130%;
}
a {
  color: var(--gray);
  font-size: 16px;
  line-height: 150%;
}
.cyan {
  background: radial-gradient(64.33% 64.33% at 71.16% 35.69%, #DEF9FA 0.89%, #BEF3F5 17.23%, #9DEDF0 42.04%, #7DE7EB 55.12%, #5CE1E6 71.54%, #33BBCF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} 
.wht-blk-gradient {
  border-radius: 20px;
  background: linear-gradient(154deg, #FFF 16.15%, #6D6D6D 57.81%, #11101D 93.23%);
  backdrop-filter: blur(5px);
}
.gray-gradient {
  background: linear-gradient(135deg, #272727 0%, #11101D 100%);
}